/* הגדרות כללי */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f7fafc; /* צבע רקע בהיר */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* מיכל של הטופס */
.register-container {
    background-color: white;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
}

/* עיצוב עבור כפתור */
.submit-button {
    background-color: #007bff;
    color: white;
    font-size: 1rem;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.submit-button:hover {
    background-color: #0056b3;
}

/* קישור "Have an account?" */
.create-account {
    display: block;
    margin-top: 1rem;
    color: #007bff;
    text-decoration: none;
    font-size: 1rem;
}

.create-account:hover {
    text-decoration: underline;
}

/* עיצוב שדות טופס */
form p {
    margin-bottom: 1rem;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form input:focus,
form select:focus,
form textarea:focus {
    outline: none;
    border-color: #007bff;
}
